body {
	background-color: #fff;
	padding: 3em;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	color: #212121;
}
.container {
	width: 70%;
	margin: 0 auto;
}

.bold {
	font-weight: bolder;
}

input {
	width: 90%;
	padding: 12px 20px;
	margin: 10px 0;
	font-size: 16px;
}

button {
	cursor: pointer;
	background-color: #4caf50;
	border-radius: 5px;
	border: none;
	color: white;
	font-size: 18px;
	padding: 10px 10px;
	text-decoration: none;
	margin: 4px 4px;
}

.sell {
	background-color: white;
	color: #d1c4e9;
}

.form-group {
	background-color: palegreen;
	color: #212121;
	width: 50%;
	padding: 30px;
	border-radius: 4px;
	font-weight: bold;
}

.form-break {
	background-color: #fff;
	color: white;
	width: 100%;
	padding: 5px;
}

.horizontal-rule {
	background-color: #212121;
}
